$primary: #FA564F;
$black: #121212;
$grey-light:hsl(0, 0%, 71%);

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

#app {
  height: 100%;
}

#app-container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

#header {

}

#titlebar {
  // background: linear-gradient(to bottom, #fff, #E8E8E8);
  background-color: $black;
  height: 68px;
  display: flex;
  -webkit-app-region: drag;
}

#section {
  flex: 0px;
  display: flex;
  background-color: #1B1B1B;
}

#sidebar {
  background-color: $black;
  padding: 2em;
  padding-top: 1em;
  flex: 3;

  section {
    h3 {
      text-transform: uppercase;
      font-size: .8em;
      margin-bottom: 1em;
    }

    ul {
      li {
        color: rgba(255, 255, 255, .7);

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

#playlist {
  flex: 12;
  padding: 1em;
  // display: flex;
  // flex-wrap: wrap;
  overflow: scroll;
  .playlist-item {
    display: inline-block;
    width: 25%;
    padding: 1em;
    color: #777;    
    transition: .2s all;
    // padding-top: .5em;
    // padding-bottom: .5em;

    &:hover {
      color: #fff !important;
    }

    .cover {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
      img {
        border: 1px solid #000;
      }
    }

    .info {
      text-align: center;

      h1 {
        font-size: .8em;
        margin-top: .5em;
      }
    }
  }
}

#player {
  display: flex;
  flex: 1;
  padding: 1em;

  #cover {
    flex: 3;

    .content {
      p {
        color: #fff;
      }

      small {
        font-size: .85em;
        margin-top: .5em;
        display: block;
      }
    }
  }

  #controls {
    flex: 12;
    display: flex;
    align-items: center;
    #tools {
      display: flex;
      flex: 2;
    }

    #progress {
      display: flex;
      flex: 8;
      padding-left: 1.5em;
    }

    #operations {
      display: flex;
      flex: 2;
    }
  }
}

#following-section {

}

#footer {
  display: flex;
  background-color: #1f1f1f;
  // padding-top: .5em;
  // padding-bottom: .5em;
  // border-top: 1px solid $grey-light;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  background-color: #fff;
  width: 14px;
  height: 14px;
  margin-top: -5px;  
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404040;
}

input[type=range]::-webkit-slider-thumb::hover {
  display: block;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.control-btn-wrapper {
  width: 38px;
  height: 38px;
  margin-left: .5em;
  margin-right: .5em;
  &:active {
    padding: 1px;
  }
}

.control-btn {
  height: 100%;
  width: 100%;
  border: 1px solid #A0A0A0;
  border-radius: 50%;
  display: block;
  &:hover {
    border: 1px solid #fff;
  }

  &:active {
    
  }
}

// #player {
//   height: 100%;
// }

@import "~bulma";
