$primary: #FA564F;

#app {
  height: 100%;
}

#app-container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

#header {

}

#titlebar {
  background-color: $primary;
  height: 68px;
  display: flex;
  -webkit-app-region: drag;
}

#section {
  flex: 0px;
  display: flex;
}

#sidebar {
  flex: 3;
}

#playlist {
  flex: 12;
  overflow: scroll;
  .playlist-item {
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

#footer {
  display: flex;
  height: 68px;
}

// #player {
//   height: 100%;
// }

@import "~bulma";
