$primary: #FA564F;
$black: #121212;
$grey-light:hsl(0, 0%, 71%);

#app {
  height: 100%;
}

#app-container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

#header {

}

#titlebar {
  // background: linear-gradient(to bottom, #fff, #E8E8E8);
  background-color: $black;
  height: 68px;
  display: flex;
  -webkit-app-region: drag;
}

#section {
  flex: 0px;
  display: flex;
  background-color: #1B1B1B;
}

#sidebar {
  background-color: $black;
  padding: 2em;
  flex: 3;

  section {
    h3 {
      text-transform: uppercase;
      font-size: .8em;
      margin-bottom: 1em;
    }

    ul {
      li {
        color: rgba(255, 255, 255, .7)
      }
    }
  }
}

#playlist {
  flex: 12;
  overflow: scroll;
  .playlist-item {
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

#player {
  display: flex;
  flex: 1;

  #cover {
    flex: 3;
  }

  #controls {
    flex: 12;
    display: flex;
    align-items: center;
    #tools {
      display: flex;
      flex: 2;
    }

    #progress {
      display: flex;
      flex: 8;
      padding-left: 1.5em;
    }

    #operations {
      display: flex;
      flex: 2;
    }
  }
}

#following-section {

}

#footer {
  display: flex;
  // padding-top: .5em;
  // padding-bottom: .5em;
  // border-top: 1px solid $grey-light;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  background-color: $primary;
  width: 14px;
  height: 14px;
  margin-top: -5px;  
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: hsl(0, 0%, 86%);
}

input[type=range]::-webkit-slider-thumb::hover {
  display: block;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.control-btn {
  width: 38px;
  height: 38px;
  border: 1px solid $primary;
  border-radius: 50%;
  margin-left: .5em;
  margin-right: .5em;
}

// #player {
//   height: 100%;
// }

@import "~bulma";
